header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1320px;
    height: 64px;
    left: 60px;
    top: 33px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 45px;
}

.header-search-box{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 40px;
    left: 1110px;
    top: 45px;
    background: #FFFFFF;
    border: 1px solid #A04955;
    border-radius: 54px;
}

.header-search-box input{
    display: block;
    border: none;
    height: 25px;
    width: 200px;
}

.shopping-cart{
    display: flex;
    align-items: center;
}

.shopping-cart img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.catalog-head{
    width: 1440px;
    display: flex;
    position: relative;
    top: 45px;
    justify-content: space-between;  
}

.addres{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 16%;
}

a{
    text-decoration: none;
}

.search-field{
    width: 985px;
    border-bottom: 1px solid grey;
}

.search-field input{
    width: 99%;
    border: none;
    height: 94%;
    color: gray;
    font-size: 35px;
}

.catalog{
    display: flex;
    background: #E5E5E5;
    height: 2214px;
    width: 1440px;
    position: relative;
    top: 50px;
}

.search-box{
    box-sizing: border-box;
    width: 315px;
    margin: 30px 0 0 29px;
    background: #FFFFFF;
    border: 1px solid #A04955;
}

.search-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.boxs-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.size-box{
    width: 40px;
    height: 40px;
    margin: 15px;
    background: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 180.8%;
    color: #000000;
    cursor: pointer;
}

hr{
    width: 80%;
    background-color: #A04955;
    border: none;
    height: 1px;
}

.black{
    background: #000000;
}

.brown{
    background: #744524;
}

.blue{
    background: #113EB1;
}

.green{
    background: #549554;
}

.grey{
    background: #808080;
}
.yellow{
    background: #E59500;
}

.white{
    box-sizing: border-box;  
    background: #FFFFFF;
    border: 1px solid #BCBCCC;
}

.all{
    box-sizing: border-box;  
    background: #808080;
    border: 1px solid #000000;    
}

.white-box{
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin: 25px 25px;
}

.goods-container{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;
    align-items:center;*/
    position: relative;
    top: 15px;
    left: 39px;
    align-content: flex-start;
}

.goods{
    width: 315px;
    height: 514px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    margin: 15px;
    text-align: center;
    
    color: #000000;
}

.goods p{
    margin: 0;
}

.goods-img{
    cursor: pointer;
}

.color-box{
    display: flex;
    width: 181px;
    height: 29px;
    justify-content: space-evenly;
}
.color-box div{
    height: 25px;
    width: 25px;
}

.add-button{
    width: 130px;
    height: 35px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #A04955;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;   
}

.pagination{
    position: absolute;
    top: 97.5%;
    /* position: relative; */
    left: 85%;
}

#pages{
    list-style-type: none;
    margin-top: 7px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    
}

#pages li{
    border-radius: 3px;
    background-color: gainsboro;
}
#pages li:hover{
    background-color: gray;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.modal{
    position: absolute;
    z-index: 2;
    background-color: white;
    text-align: center;
    top: 100px;
    left: 250px;
    /* width: 530px; */
    width: 80%;

    
}

.nonvisibl{
    display: none;
}

.visibl{
    display: block;
}

table, th, td {
    border: 1px solid #A04955;
}

table{
    width: 100%;
    font-size: 20px;
}

footer{
    width: 1440px;
    display: flex;
    background: #A04955;
    justify-content: space-evenly;
}


.footer-content {
    width: 20%;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    line-height: 43px;
    color: #FFFFFF;
    margin: 50px 0px 0px 0px;
}

.footer-content h3{
    margin: 0;
    font-weight: 600;
}

.footer-content ul{
    list-style: none;
    padding: 0;
}

.footer-content p{
    margin: 40px 0 0px 0;
    font-size: 20px;
}

.footer-content div{

    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F3F3F3;
}

.footer-content input{
    height: 38px;
}

.footer-content button{
    width: 33%;
    height: 43px;
    background: #A04955;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    /* display: flex; */
    /* align-items: center; */
    color: #F3F3F3;
    border: none;
    /* text-align: center;*/
}

.copyright{
    position: relative;

    height: 45px;

    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    /* or 25px */
    
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.5);
}

.copyright p{
    position: absolute;
    left: 60px;
}