
header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1320px;
    height: 64px;
    left: 60px;
    top: 33px;
    
    margin-bottom: 20px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 45px;
}

.header-search-box{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 40px;
    left: 1110px;
    top: 45px;
    background: #FFFFFF;
    border: 1px solid #A04955;
    border-radius: 54px;
}

.header-search-box input{
    display: block;
    border: none;
    height: 25px;
    width: 200px;
}

.shopping-cart{
    display: flex;
    align-items: center;
}

.shopping-cart img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

a{
    text-decoration: none;
    /*color: #000;*/
}
.wrapper{
    position: relative;/**/
    width: 1440px;
    height: 800px; 
    display: flex;
}

.text-selling{
    position: absolute;
    /*width: 578px;*/
    height: 192px;
    left: 60px;
    top: 305px;
}

.text-selling h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    color: #001F3D;

}

.text-selling p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.text-selling .button{
    width: 240px;
    height: 50px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}


.img-selling img{
    position: absolute;
    width: 594px;
    height: 559px;
    left: 797px;
    top: 202px;
    z-index: 1;  
}

.rectangle-one{
    box-sizing: border-box;
    width: 518px;
    height: 465px;
    border: 1px solid #A04955;
}

.rectangle-one-selling{
    position: absolute;
    left: 723px;
    top: 323px;
}

.rectangle-two{
    width: 517px;
    height: 465px;
    background: #A04955;
}

.rectangle-two-selling{
    position: absolute;
    left: 863px;
    top: 167px;
}

.discount{
    position: relative;
    width: 1440px;
    height: 745px;
    background: #F1F1F1;
}

.discount-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.discount p{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #333333;
    padding: 80px 0 0 0;
    margin: 0;
}

.discount h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    margin: 0;
    color: #333333;
}

.goods-wrapper{
    display: flex;
    justify-content: space-around;
}

.goods{
    width: 315px;
    height: 514px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    margin: 15px;
    text-align: center;
    
    color: #000000;
}

.goods p{
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.goods-img{
    cursor: pointer;
}

.color-box{
    display: flex;
    width: 181px;
    height: 29px;
    justify-content: space-evenly;
}
.color-box div{
    height: 25px;
    width: 25px;
}

.black{
    background: #000000;
}

.brown{
    background: #744524;
}

.blue{
    background: #113EB1;
}

.green{
    background: #549554;
}

.grey{
    background: #808080;
}
.yellow{
    background: #E59500;
}

.white{
    box-sizing: border-box;  
    background: #FFFFFF;
    border: 1px solid #BCBCCC;
}

.add-button{
    width: 130px;
    height: 35px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    background: #A04955;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;   
}

.rectangle-one-bestselling{
    position: absolute;
    left: 213px;
    top: 102px;   
}

.rectangle-two-bestselling{
    position: absolute;
    left: 73px;
    top: 257px;   
}

.img-bestselling img{
    position: absolute;
    width: 660px;
    height: 620px;
    left: 70px;
    top: 90px;
    z-index: 1;  
}

.text-bestselling{
    position: absolute;
    /*width: 578px;*/
    height: 192px;
    left: 790px;
    top: 139px;
}

.text-bestselling h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    color: #001F3D;
    margin: 0;
}

.text-bestselling p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;   
    margin: 10px 0; 
}

.text-bestselling button{
    box-sizing: border-box;
    width: 240px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #000000;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    margin: 30px 0px;
}

.news{
    display: flex;
    justify-content: space-evenly;
    width: 1440px;
    position: relative;
    background: #E5E5E5;
    height: 956px;
}
.news div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   

.caption{
    position: absolute;
    width: 550px;
    height: 86px;
    top: 529px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    color: #FFFFFF;
    background: #A04955;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news p{
    position: absolute;
    width: 550px;
    height: 132px;

    top: 659px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    
    color: #000000;
}

.news button{
    box-sizing: border-box;
    width: 366px;
    height: 50px;
    background: #F1F1F1;
    border: 1px solid #000000;
    margin: 0px 0 0 17%;
    left: 848.3px;
    top: 3261px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

    color: #000000;
}

.paint{
    box-sizing: border-box;
    background-image: url("../img/Rectangle_15.png");
    width: 1440px;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;      
}

.paint h2{
    width: 578px;
    height: 192px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    color: #FFFFFF;
    margin: 0;
    position: absolute;
    top: 22px;
    left: 152px;
}

.paint p{
    width: 578px;
    height: 192px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    position: absolute;
    top: 214px;
    left: 152px;
}

.paint button{
    width: 405px;
    height: 50px;  
    background: #A04955;
    position: absolute;
    top: 442px;
    left: 152px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.trend{
    position: relative;
    width: 1320px;
    height: 339px;
    background: #A04955;
    margin: 90px 60px 414px 60px;
}

.trend h2{
    position: absolute;
    width: 824px;
    height: 96px;
    left: 248px;
    right: 248px;
    top: 30px;
    bottom: 213px;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 96px;
    text-align: center;
    
    color: #FFFFFF;    
}

.trend-boxs-wrapper{
    position: absolute;
    display: flex;
    top: 156px;
    justify-content: space-around;
    width: 100%;
}

.trend-box{
    box-sizing: border-box;
    position: relative;
    width: 314px;
    height: 352px;
    background: #FFFFFF;
    border: 1px solid #A04955;    
}

.trend-box img{
    position: absolute;
}

.trend-img-belt{
    left: 40px;
    top: -30px;
}

.trend-img-swim{
    left: 65px;
    top: 16px;
}

.trend-img-catalog{
    left: 30px;
    top: -12px;
}

.trend-box button{
    position: absolute;
    width: 242px;
    height: 40px;
    left: 36px;
    top: 274px;
    
    background: #A04955;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    border: none;
    
    text-align: center;
    
    color: #FFFFFF;
}

.trend-box p{
    width: 100%;
    height: 36px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    text-align: center;
    position: absolute;
    top: 200px;
}

.abbout{
    position: relative;/* */
    width: 1214px;
    height: 412px;
    background: #F3F3F3;
    margin: 0 113px 46px 113px;
}

.abbout img{
    position: absolute;
    left: 469px;
    top: -155px;
}

.abbout h2{
    position: absolute;
    width: 604px;
    height: 96px;
    left: 305px;
    top: 130px;
    margin: 0;    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    text-align: center;
    color: #001F3D;
}

.abbout p{
    position: absolute;
    height: 33px;
    top: 246px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    text-align: center;
    width: 100%;
}

.abbout button{
    box-sizing: border-box;
    position: absolute;
    width: 284px;
    height: 55px;
    background: #F3F3F3;
    border: 1px solid #000000;
    left: 469px;
    top: 314px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.modal{
    position: absolute;
    z-index: 2;
    background-color: white;
    text-align: center;
    top: 100px;
    left: 250px;
    /* width: 530px; */
    width: 80%;
    
}

.nonvisibl{
    display: none;
}

.visibl{
    display: block;
}

table, th, td {
    border: 1px solid #A04955;
}

table{
    width: 100%;
    font-size: 20px;
}


footer{
    width: 1440px;
    display: flex;
    background: #A04955;
    justify-content: space-evenly;
}


.footer-content {
    width: 20%;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    line-height: 43px;
    color: #FFFFFF;
    margin: 50px 0px 0px 0px;
}

.footer-content h3{
    margin: 0;
    font-weight: 600;
}

.footer-content ul{
    list-style: none;
    padding: 0;
}

.footer-content p{
    margin: 40px 0 0px 0;
    font-size: 20px;
}

.footer-content div{

    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F3F3F3;
}

.footer-content input{
    height: 38px;
}

.footer-content button{
    width: 33%;
    height: 43px;
    background: #A04955;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    /* display: flex; */
    /* align-items: center; */
    color: #F3F3F3;
    border: none;
    /* text-align: center;*/
}

.copyright{
    position: relative;

    height: 45px;

    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    /* or 25px */
    
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.5);
}

.copyright p{
    position: absolute;
    left: 60px;
}
/*
    position: relative;
    width: 1440px;
    height: 420px;
    /* left: 0px; */
    /* top: 5243px; 
    display: flex;
    background: #A04955;
    /* padding: 50px 60px;
*/
