header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1320px;
    height: 64px;
    left: 60px;
    top: 33px;
}

.header-menu{
    display: flex;
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 45px;
}

.header-search-box{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    width: 270px;
    height: 40px;
    left: 1110px;
    top: 45px;
    background: #FFFFFF;
    border: 1px solid #A04955;
    border-radius: 54px;
}

.header-search-box input{
    display: block;
    border: none;
    height: 25px;
    width: 200px;
}

.shopping-cart{
    display: flex;
    align-items: center;
}

.shopping-cart img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.catalog-head{
    width: 1440px;
    display: flex;
    position: relative;
    top: 45px;
    justify-content: space-between;  
}

.addres{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 16%;
}

.search-field{
    width: 985px;
    border-bottom: 1px solid grey;
}

.search-field input{
    width: 99%;
    border: none;
    height: 94%;
    color: gray;
    font-size: 35px;
}

hr{
    width: 80%;
    background-color: #A04955;
    border: none;
    height: 1px;
}

.wrapper{
    display: flex;
    position: relative;
    top: 50px;
    width: 1440px;
    height: 765px;
    margin-bottom: 50px;
}

.screen{
    text-align: center;
    margin: 200px 226px 200px 130px;
}
.screen img{
        width: 150%;
}

.description{
    width: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; 
    color: #000000;
}

.description p{
    margin: 0;
}

.size-boxs-wrapper{
    display: flex;
}

.size-box{
    box-sizing: border-box;
    width: 46px;
    height: 32px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    margin: 0 10px;
}


.container{
    display: flex;
}

.black{
    background: #000000;
}

.brown{
    background: #744524;
}

.blue{
    background: #113EB1;
}

.green{
    background: #549554;
}

.grey{
    background: #808080;
}
.yellow{
    background: #E59500;
}

.white{
    box-sizing: border-box;  
    background: #FFFFFF;
    border: 1px solid #BCBCCC;
}

.price{
    font-weight: 600;
    font-size: 25px;
}

.add-buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-bag{
    width: 315px;
    height: 56px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    background: #B93B54;    
}

.add-wishlist{
    box-sizing: border-box;

    width: 315px;
    height: 56px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    color: #B93B54;
    background: #FFFFFF;
    border: 1px solid #000000;   
}

.links img{
    margin: 0 10px;    
}

.free{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 140px; */
    background: #FAFAFA;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.free div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

footer{
    width: 1440px;
    display: flex;
    background: #A04955;
    justify-content: space-evenly;
}

.modal{
    position: absolute;
    z-index: 2;
    background-color: white;
    text-align: center;
    top: 100px;
    left: 250px;
    /* width: 530px; */
    width: 80%;
    
}

.nonvisible{
    display: none;
}

.visible{
    display: block;
}

table, th, td {
    border: 1px solid #A04955;
}

table{
    width: 100%;
    font-size: 20px;
}

.footer-content {
    width: 20%;
    font-family: 'Oswald';
    font-style: normal;
    font-size: 24px;
    line-height: 43px;
    color: #FFFFFF;
    margin: 50px 0px 0px 0px;
}

.footer-content h3{
    margin: 0;
    font-weight: 600;
}

.footer-content ul{
    list-style: none;
    padding: 0;
}

.footer-content p{
    margin: 40px 0 0px 0;
    font-size: 20px;
}

.footer-content div{

    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #F3F3F3;
}

.footer-content input{
    height: 38px;
}

.footer-content button{
    width: 33%;
    height: 43px;
    background: #A04955;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    /* display: flex; */
    /* align-items: center; */
    color: #F3F3F3;
    border: none;
    /* text-align: center;*/
}

.copyright{
    position: relative;

    height: 45px;

    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    /* or 25px */
    
    display: flex;
    align-items: center;
    
    color: rgba(0, 0, 0, 0.5);
}

.copyright p{
    position: absolute;
    left: 60px;
}