.menu{
    display: flex;
    justify-content: space-evenly;
    height: 80px;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    position: sticky;
    top: 0px;
}

.button{
    display: flex;
    height: 50px;
    align-items: center;
    background-color: rgb(119, 120, 122);
    border-radius: 10px;
    border: 1px solid black;
}
.button:hover{
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    cursor: pointer;
}
.button img{
    width: 40px;
    height: 40px;
}
.button p{
    margin: 0px 5px;
}
.main-body{
    background-color: gainsboro;
}
button{
    height: 25px;
    margin: 0px 10px;
    cursor: pointer;
}
#control-button-add{
    height: 30px;
    background-color: rgb(126, 217, 125);/*rgb(126, 217, 125)*/
    border: none;
    border-radius: 7%;
    width: 80px;
    font-weight: inherit;
    font-size: 15px;
}

#control-button-add:hover{
    background-color: rgb(43, 214, 40);    
}

#control-button-change{
    height: 30px;
    background-color: rgb(174, 107, 230);
    border: none;
    border-radius: 7%;
    width: 80px;
    font-weight: inherit;
    font-size: 15px;
}

#control-button-change:hover{
    background-color: rgb(147, 46, 229);    
}

#control-button-delete{
    height: 30px;
    background-color: rgb(214, 56, 56);
    border: none;
    border-radius: 7%;
    width: 80px;
    font-weight: inherit;
    font-size: 15px;
}

#control-button-delete:hover{
    background-color: rgb(214, 12, 12);    
}
/*
    /* color: green; 
    
*/

table{
    width: 96%;
    margin: 0 2%;
}
table,td{
    border:1px solid black;
    border-spacing:0;
}

.unvisible{
    display: none;
}


.control-buttons-wrapper{
    /*width: 100%; */
    background-color: whitesmoke;
    border: 1px solid grey;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0px;
}

.add-box{
    background-color: whitesmoke;
    /* width: 274px; 340*/
    position: fixed;
    top: 107px;
    left: 35%;
    padding: 0px 6px;
}
textarea{
    resize: none;
}

select{
    height: 21px;
}

#contribution-cart{
    width: 267px; /*305px;*/
}/**/

#contribution-cart input[name="contribution-duration"]{
   width: 50px;
}

#multi{
    margin: 0;
}

.currency-box{
    text-align: center;
    border: 1px solid grey;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 550px;
    height: 175px;
    padding: 0px;
    left: 25%;
    top: 110px;
    border-radius: 10px;
    border: 2px solid;
    border-color: rgb(119, 120, 122);
}

.currency-box div{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.currency-box p{
    margin: 4px 0px 0px 0px
}
.currency-box button{
    height: 20px;
    margin: 6px 0px 0px 0px;
}
#credit-cart input[name="credit-cost"], #credit-change input[name="credit-cost"]{
    width: 123px;
}

.input-currency{
    width: 60px;
}
.text{
    width: 85%;
    margin: 0px 0px 2px 0px;
}

.result-wrapper span{
    width: 100%;
}

.selected{
    border: 2px solid black;
    background-color: white;
    font-weight:bold;

}
