.circle {
	width: 50px;
	height: 50px;
	background-color: blue;
	border: 1px solid black;
	border-radius:50%; /*дел круг*/
	display: inline; /*елем в стрчк*/


}
.container{
	display: flex;/*дел фоекс конт*/
	/*background-color: yellow;*/
	flex-wrap: wrap; /*делаем фикс размер конт*/
}
input{
	margin:5px 0px;
}
p{
	padding: 0px;
    margin: 5px 0px;
}