#listingTable{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
    background-color: none;
}

.comment{
    width: 720px;
    
    border-radius: 3px;
    text-align: center;
    background-color: gainsboro;
    margin: 10px 0px;
}

.pagination{
    position: fixed;
    left: 0;
    top: 0;
}

#pages{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    
}

li{
    border-radius: 3px;
    background-color: gainsboro;
}
li:hover{
    background-color: gray;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}